.reservationsPage {
  min-height: 100vh;
  width: 100%;
  background: rgb(18, 18, 26);
  padding-top: 60px;
  overflow: hidden;
  position: relative;
}
h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}
.datePicker {
  margin-top: 50px;
  text-align: center;
}
.datePick {
  border: 1px solid rgb(251, 158, 37);
  margin-right: 20px;
  padding: 10px 25px;
  font-size: 20px;
  transition: 0.15s linear;
  cursor: pointer;
  opacity: 100%;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.datePick:last-child {
  margin-right: 0;
}
.datePick:hover {
  box-shadow: 0px 0px 17px rgb(251, 158, 37);
  background-color: rgb(251, 158, 37);
  color: white;
}
.selectedHour {
  box-shadow: 0px 0px 17px rgb(251, 158, 37);
  background-color: rgb(251, 158, 37);
  color: white;
}
.screeningRoom {
  margin-top: 50px;
  animation: fade 0.5s;
}
.screeningRoom h2 {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.screen {
  width: 50vw;
  margin: 0 auto 40px auto;
  height: 30px;
  border: 1px solid white;
}
.rowName {
  font-size: 20px;
  color: white;
  top: 25px;
  position: absolute;
  margin-left: -20px;
}
.seatRow {
  text-align: center;
  position: relative;
}
.bottomBar {
  background-color: rgb(36, 36, 56);
  border: 3px solid rgb(80, 80, 114);
  border-radius: 50px;
  width: 70%;
  position: fixed;
  bottom: 0;
  left: 15%;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  animation: fade 0.3s;
}
.bottomBar div {
  flex-grow: 1;
}
.bottomBar li {
  font-size: 30px;
  height: 50px;
  padding: 0 5px;
  line-height: 50px;
  color: white;
}
.toForm {
  display: inline;
  color: white;
  text-decoration: none;
  font-size: 23px;
  background-color: rgb(251, 158, 37);
  padding: 7px 30px;
  border-radius: 50px;
  font-family: "Oswald", sans-serif;
  transition: 0.1s linear;
  border: none;
  outline: none;
}
.toForm:hover {
  box-shadow: 0px 0px 17px rgb(251, 158, 37);
}
.toForm:focus {
  border: none;
}
.pageOverlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.616);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  animation: fade 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blurry {
  filter: blur(4px);
}
.blurry .bottomBar {
  display: none;
}

.xSign {
  position: absolute;
  top: 50px;
  right: 50px;
  fill: white;
  transform: scale(1.5);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.xSign:hover {
  transform: scale(1.7);
}
@media (max-width: 400px) {
  .reservationsPage > div {
    padding-bottom: 100px;
  }
  .datePicker {
    width: 70vw;
    text-align: center;
    margin: auto;
    column-count: 2;
  }
  .datePicker li {
    margin-top: 10px;
    margin-right: 0;
  }
  div.screen {
    width: 250px;
  }
  .rowName {
    top: 10px;
  }
  .bottomBar {
    width: 100vw;
    left: 0;
    border-radius: 0;
    border: none;
    border-top: 3px solid rgb(80, 80, 114);
  }
  .bottomBar li {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
  }
  .pageOverlay {
    height: 200%;
    width: 100%;
  }
}
@media (min-width: 401px) and (max-width: 480px) {
  .reservationsPage {
    padding: 80px 10vw;
  }
  .reservationsPage > div {
    padding-bottom: 50px;
  }
  .datePicker {
    width: 70vw;
    text-align: center;
    margin: auto;
    column-count: 2;
  }
  .datePicker li {
    margin-top: 10px;
    margin-right: 0;
  }
  div.screen {
    width: 320px;
  }
  .rowName {
    top: 10px;
  }
  .bottomBar {
    width: 100vw;
    left: 0;
    border-radius: 0;
    border: none;
    border-top: 3px solid rgb(80, 80, 114);
  }
  .bottomBar li {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
  }
  .pageOverlay {
    height: 200%;
    width: 100%;
  }
  .damnP {
  }
}
@media (max-width: 768px) {
  .reservationsPage h1 {
    margin-top: 20px;
  }
  .bottomBar {
    width: 100vw;
    left: 0;
    border-radius: 0;
    border: none;
    border-top: 3px solid rgb(80, 80, 114);
  }
  .bottomBar li {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
  }
  .toForm {
    padding: 7px 40px;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  .reservationsPage {
    padding: 80px 10vw 100px 10vw;
  }
}
