*{
    margin:0;
    padding: 0;
}
.topbar
{
    position: fixed;
    top: 0;
    left: 0;
}
li{
    display: inline-block;
    color: #fb9e25;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}
.fake{
    margin-left: 20px;
}
.cinema{
    text-transform:uppercase;
    
}